<footer class="footer">
  <p>Desiree Julie Photography | KVK <span class="bigger">1111111</span></p>
</footer>

<style>
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
    color: var(--color-light-grey);
    font-size: 1.1em;
  }

  .bigger {
    font-size: 1.3em;
  }
</style>
