<nav class="navbar">
  <h1 class="logo">Logo</h1>

  <ul class="page-links">
    <li><a href="/">Home</a></li>
    <li><a href="/fashion">Fashion</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>

  <ul class="socials">
    <li><button id="hide">F</button></li>
    <li><a href="#">I</a></li>
  </ul>
</nav>

<script>
  let hidden = false;
  document.querySelector("#hide")?.addEventListener("click", () => {
    document
      .querySelector(".page-links")
      ?.setAttribute("data-state", hidden ? "" : "hidden");
    hidden = !hidden;
  });
</script>

<style>
  .navbar {
    /* REMOVE */
    background-color: beige;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    min-height: 6rem;
  }

  .logo {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .page-links,
  .socials {
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  .page-links a,
  .socials a {
    text-decoration: none;
    color: black;
  }

  .page-links[data-state="hidden"] {
    display: none;
  }
</style>
